/*The wrapper that holds the alphabet characters and the loading element*/
#allCocktailsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;;
    gap: 30px;
}

/*The wrapper that contains all the buttons with the alphabet characters.*/
#buttonWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 80%;
    padding-top: 35px;
}

/*Each button with alphabet character*/
.alphabetButton {
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 1.2rem;
    background: linear-gradient(  rgb(251, 221, 19) 0.1%, #F5761A 90%);
    color: #183a1d;
    border: 1px solid #183a1d;
    box-shadow: 1px 1px 2px #183a1d;
    font-weight: 500;
}

/*The wrapper of all the fetchedd data.*/
.searchWrapper {
    display: grid;
    grid-template-areas: "header header header"
                        "cocktail cocktail cocktail"    ;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 100px;
    row-gap: 70px;
    width: 100vw;   
    overflow-x: hidden;
}

/*The container that holds the image and name of the cocktail output*/
.cocktailWrapper {
    grid-area: cocktail;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    width: 190px;
    border: 1px solid #183a1d;
    cursor: pointer;    
    border-radius: 3%;
    box-shadow: 4px 4px 8px #183a1d;
    background-color: #fefbe9;
}

.cocktailWrapper:hover {
    transform: translateY(-15px);
}

/*The image fetched from the database*/
#cocktailImage {
    width: 170px;
    height: 172px;
    border: 1px solid #183a1d;
    border-radius: 3%;
}

/*The name of the cocktail under the image*/
#cocktailCaption {
    max-width: 150px;
    color: #183a1d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/*Removing default styling from the anchor element*/
.cocktailLink {
    text-decoration: none;
}

/*The loading message of name search section*/
#loaderName {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: #183a1d;  
    font-weight: 600;  
}

/*The loading message of ingredient search section*/
#loaderIngredient {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: #183a1d;  
    font-weight: 600; 
}

/*The error message in case of failure of fetching data*/
.error {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: #183a1d;  
    font-weight: 600;
}

/*The wrapper that holds the input, the loading and the error element*/
.inputGrid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    grid-area: header;
}

/*The input fields styling*/
.inputField {   
    display: flex; 
    justify-content: center;
}

/*The input search field*/
.inputField input {   
    height: 40px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #183a1d;
    background-color: #fefbe9;
    font-size: 1.2rem;
    color: #183a1d;
    padding: 5px;
    width: 400px;
}

.inputField input::placeholder {
    color:#183a1d;
    opacity: 0.9;
}

/*The button nect to input field*/
.inputField button {
    border-radius: 0 4px 4px 0;
    border: 1px solid #183a1d;
    background: linear-gradient(  rgb(251, 221, 19) 0.1%, #F5761A 90%);
    color: #183a1d;
    font-size: 1.3rem;   
    cursor: pointer;
    width: 40px;
} 

/*The button appearing when scroll down enable to scroll up the page*/
.scrollUp {
    position: fixed;
    cursor: pointer;
    width: 60px;
    height: 60px;
    right: 30px;
    bottom: 40px;
    display: none;
    background: linear-gradient(  rgb(251, 221, 19) 0.1%, #F5761A 90%);
    border: 1px solid #183a1d;
    border-radius: 5px;
    color: #183a1d;
    font-size: 1.8rem;
}

@media (max-width: 480px) {

    .searchWrapper {       
        grid-template-areas: "header"
                            "cocktail";            
    }

    .outerWrapper {
        display: flex;
        justify-content: center;           
    }

    .inputField  input {
        width: 70%;
    }        

}

@media (min-width: 480px) and (max-width: 620px) {

    .searchWrapper {        
        grid-template-areas: "header header"
                            "cocktail cocktail";        
                }

    .inputField  input {
        width: 100%;
    }
   
}