/*The wrapper tha holds the homePage section*/
#homePage {
    background-color: #ffe4e1;
    height:100vh;
    overflow: auto;
}

/*The wrapper that holds the welcome text and the cocktail image */
#homeWrapper {  
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    top: 0;
    width: 100%; 
}

/*The div that holds the welcome title and paragraph*/
#welcomeWrapper {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    background-color: transparent;
}

/*The welcome title: "Aris' Cocktails"*/
#welcomeTitle {
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    margin-bottom: 30px;
}

/*The text under the welcome title*/
#welcomeText {
    font-size: 1.8rem;
    max-width: 350px;

    color: #9F2B68;
    font-family: Arial, Helvetica, sans-serif;
}

/*The cocktail image*/
#homeImage {
    width: 400px;
    height: 500px;
   
}

/*Adjustments for smallest mobile screens*/
@media (max-width: 350px) {

    #welcomeTitle {
        font-size: 2rem;
        width: 90%;
        text-align: center;
    }

    #welcomeText {
        font-size: 1.2rem;
        width: 90%;
        text-align: center;
    }

    #homeImage {
        width: 250px;
        height: 350px;
       
    }
}

/*Adjustments for mobile screens*/
@media (min-width: 350px) and (max-width: 705px) {

    #welcomeTitle {
        font-size: 3rem;
    }

    #welcomeText {
        font-size: 1.2rem;
    }

    #homeImage {
        width: 300px;
        height: 400px;
    }       
}

