/*The navigation links wrapper*/
#navLinks {
    list-style-type: none;    
    padding-top: 50px;
    display: flex;
}

/*Each navigation link layout*/ 
#navLinks li {
    font-weight: 600;
    cursor: pointer;
    margin: 35px;
    font-size: 1.4rem;
  
}

/*Removing default anchor element styling*/
#navLinks li a {
    text-decoration: none;
    color: #183a1d;
}

/*The search navlink*/
#searchLinks {
    height: 35px;
    color: #183a1d;
}

/*The submenu appearing when hovering on search link*/
#subMenu {
    position: absolute; 
    left: 360px;
    top: 115px;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #fefbe9;
    box-shadow: 2px 2px 6px #183a1d;
    width: 145px;
    height: 100px;
    z-index: 2;
}

/*The submenu links*/
#subMenu a {
    
    font-size: 1.3rem;
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none;
    color: #183a1d;
}

/*The bars icon in small screens*/
#barsMenu {
    display: none;
}

/*The "X" icon in small screens navbar*/
#xButton {
    display: none;
}

/*The navBar menu for small screens*/
#smallNavWrapper {
    background-color: #fefbe9;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    transform: translateX(-100vw);
    
}


/*Adjustments for mobile screens*/
@media (max-width: 705px) {
    #barsMenu {
        display: initial;
        cursor: pointer;
        margin: 35px;
        font-family: sans-serif;
        font-size: 2rem;
        color: #183a1d;
        background-color: transparent;
        border: none;
    }

    #smallNavWrapper {
        transform: translateX(-100vw);
        transition: transform 1s;
    }
    
    #smallNavLinks {
        list-style-type: none;
        display: flex;
        flex-direction: column;

    }

    #smallNavLinks li {
        cursor: pointer;
        margin: 50px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.5rem;
        font-weight: 600;
    }

    #smallNavLinks li a {
        text-decoration: none;
        color: #183a1d;
    }
    
    #navWrapper {
        display: none;
    }

    

    #smallSearchLinks {
        position: relative;
        color: #183a1d;
    }

    #smallSubMenu {
        position: absolute; 
        left: 50px;
        top: 15px;
        box-shadow: none;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        display:none;
        width: 145px;
        height: 100px;
        z-index: 2;
    }

        
    #xButton {
        display: initial;
        float: right;
        margin: 30px;
        background-color: transparent;
        border: none;
        color: #183a1d;
        font-size: 1.7rem;
        cursor: pointer;
    }
 
}