/*The wrapper that holds the elements of the random component*/
#randomWrapper {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 20px;
}

/*My top quote in random component*/
#myQuote {
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
}

/*The loading message of random section*/
#loaderRandom {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;  
}