.cocktailWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 160px;
    border: 1px solid black;
    cursor: pointer;
    grid-area: cocktail;
}

#cocktailImage {
    width: 151px;
    height: 151px;
    border: 1px solid black;
}

#cocktailCaption {
    max-width: 150px;
    color: black;
    
}

.cocktailLink {
    text-decoration: none;
}
/*The input fields styling*/
.inputField {
    grid-area: header;
    justify-self: center;
}

/*The wrapper of all the fetchedd data.*/
.inputWrapper {
    display: grid;
    grid-template-areas: "header header header"
                        "cocktail cocktail cocktail"    ;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
    row-gap: 70px;
    width: 100%;   
}